button {
    color:blue;
    font-size:50px;
    display:flex;
    margin-left:auto;
    margin-right:auto;
}

#map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 50%;
  }
  
  /* 
   * Optional: Makes the sample page fill the window. 
   */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
@tailwind base;
@tailwind components;
@tailwind utilities;
