html {
    height: 100vh;;
}
body {
    background-image: url(debby-hudson-pomybSOZsts-unsplash.jpg);

    background-size: cover;
    object-fit: cover;
}

h1 {
    color: #d85309;
    font-family: 'Montserrat', sans-serif;
    font-size: 55px;
    display: flex;
    justify-content: center;
}

p {
    color: #d85309;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
}